.cart {
  display: flex;
  max-width: 1349px;
  margin: auto;
  background: #f0f2f4;
}
.cartItems {
  width: 70%;
  padding: 0 30px;
}
.cartItems h2 {
  padding: 20px 0 20px 20px;
}
.cartItem {
  display: flex;
  background: #ffff;
  align-items: center;
  padding: 30px 0;
  justify-content: space-around;
}
.product_img_title {
  display: flex;
  padding: 24px 0 0 24px;
}
.product_img_title img {
  width: 80px;
  height: 46px;
}
.product_img_title p {
  width: 180px;
  font-size: 13px;
  margin-left: 10px;
  color: #2b71d1;
}
.radio {
  padding: 24px 0 0 43px;
}
.radio span {
  font-size: 13px;
}
.radio p {
  font-size: 11px;
}
.qty_add_remove > button {
  padding: 5px 25px;
  margin-top: 20px;
  background: #ffe000;
  border: none;
  color: #1d252c;
}
.qty {
  display: flex;
  align-items: center;
  grid-gap: 20px;
}
.qty button {
  font-size: 25px;
  padding: 5px;
  background: none;
  border: 1px solid #c5cbd5;
}
.order_summary {
  width: 28%;
  background: #ffff;
  padding: 30px;
  margin-top: 20px;
}
.order_summary > h2 {
  font-size: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #c5cbd5;
}
.totalDiv {
  margin-top: 10px;
}
.totalDiv div {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}
.totalDiv div p {
  font-size: 13px;
}
.tax {
  padding-bottom: 8px;
  border-bottom: 1px solid #c5cbd5;
}
.tax :first-child {
  color: #2b71d1;
}
.tax :first-child:hover {
  text-decoration: underline;
}
.total {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.total > h3 {
  font-size: 20px;
  color: #040c13;
  margin-bottom: 8px;
}
.checkoutBtn {
  width: 100%;
  background: #ffe000;
  color: #040c13;
  padding: 15px 50px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  border-radius: 6px;
}
.paypalBtn {
  width: 100%;
  background: #1d252c;
  color: #ffff;
  padding: 15px 50px;
  border: none;
  margin-bottom: 10px;
  border-radius: 6px;
}
.paypalBtn i {
  font-size: 18px;
  margin-right: 5px;
}
.paypalBtn span {
  font-size: 11px;
}
.order_summary > :last-child {
  font-size: 13px;
}
.order_summary > :last-child a {
  color: #2b71d1;
  text-decoration: none;
}
.order_summary :last-child a:hover {
  text-decoration: underline;
}
