.filters {
  width: 20%;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #c5cbd5;
}
.filters > div {
  border-bottom: 1px solid #c5cbd5;
}

.filterBox h3 {
  padding: 20px 0 0 20px;
}
.filterBox > div {
  padding: 5px 0 20px 20px;
}

.category a {
  display: block;
  margin-left: 25px;
  padding: 10px;
  text-decoration: none;
  color: #0457c8;
}
